/* styles.css */

body {
    /* font-family: Arial, sans-serif; */
    /* font-family: "American Typewriter", serif; */
    font-family: "Rozha One" !important;
}

header {
    /* background: linear-gradient(45deg, #007bff, #6f42c1);
    color: white; */
}

footer {
    font-size: 0.9rem;
    /* background-color: #c4e2f2 !important; */
    /* background-color: rgba(135, 165, 158, 1); */
    /* background: linear-gradient(360deg,#87a59e, #d1ebe5); */
    background: linear-gradient(360deg,#87a59e, #bfddca);


    

    /* background: linear-gradient(360deg, #87a59e 50%, #bfddca 40%,#d1ebe5 10%); */

}

.main-logo {
  width: 250px;
}


/*.carousel-item img {
  width: 100%; /* Ensures the image spans the full width of the carousel */
 /* height: 600px; /* Maintains the aspect ratio */
  /*object-fit: cover; /* Adjusts how the image fits in its container */
/*}*/

/*.carousel {
  max-height: 800px; /* Set a maximum height for the carousel */
/*  overflow: hidden; /* Ensures no overflow */
/*}*/
#location {
  /* background-color: #d1ebe5; */

  background-color: #bfddca;
  
}

#services_main {
  background-color: #bfddca;
}

.btn-more-service:hover {
  color: white;
  background-color: #2f5667;
}

.feature-img:hover {
  transform: scale(1.2); /* Enlarge the image */
  border: 2px solid #2f5667; /* Add a colored border on hover */
  z-index: 1; /* Ensure the hovered image appears above others */
}
.main-about {
  background-image: url('assets/images/main_about.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.dropdown-menu {
        background-color: rgba(247, 246, 241, 0.8) !important; /* Set background color with transparency */
        border: 1px solid rgba(255, 255, 255, 0.3) !important; /* Border with partial opacity */
        color: #fff !important; /* Text color */
        padding: 10px !important; /* Add some padding */
        border-radius: 5px !important; /* Round the corners */
}

.dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.3); /* Your specific hover color */
}

.color-teal{
  /* color:#567C8D !important; */
  color:#2f5667 !important;
}

.main-card {
  margin: 50px;
  border: none;
  text-align: center;
}

.main-carousel .carousel-inner .carousel-item > img{
    height: 500px;
    width: 600px;
}

.main-contact-img {
  width: 100%;
  height: auto;
}

.main-contact {
  /* background-image: url('assets/images/main_form_1.png'); */
  /* background-size: 100% 100%; */
  /* background-repeat: no-repeat; */
  color: white;
  background-color: black;
  opacity: 0.2;
  border-radius: 10px;
}

.social-logo {
  color: #2f5667;
}


/* Basic Styling for Feature Images */
.feature-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  /* border: 2px solid #ddd; */
  transition: transform 0.3s ease, border 0.3s ease; /* Add smooth transition for the border */
  border: 5px solid transparent; /* Initial border with no color */
}

.feature-title {
  font-size: 1.1rem;
  font-weight: bold;
}

.feature-text {
  font-size: 0.9rem;
  color: #555;
}



/* Hero Contain */

.hero {
  margin-top: 150px;
  position: relative;
  background: url('assets/images/contact.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh; /* Full screen height */
  color: white; /* Text color */
}
/*
.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dark overlay for better text visibility 
}

.hero-content {
  position: relative;
  z-index: 2; /* Place content above overlay 
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}*/

#about{
  background-image: url('assets/images/dental/brand.jpeg');
  height: 800px;
  width: 100%;
  color: white;
  background-repeat: no-repeat;
}

/* Services Section */
/* .services-section img {
  width: 200px;
  height: 200px;
} */



/* Slide-down animation */
/* @keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */

/* Initially hide the section */

/* Show and animate the section */
.hidden {
  opacity: 0;
  transform: translateY(-100%);
  visibility: hidden;
  transition: all 0.5s ease-out;
}

/* Slide-down animation */
.visible {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}


@keyframes rollInRight {
  0% {
      opacity: 0;
      transform: translateX(100%) rotate(360deg);
  }
  100% {
      opacity: 1;
      transform: translateX(0) rotate(0deg);
  }
}

.roll-in-right {
  animation: rollInRight 1s ease-out;
  animation-fill-mode: both; /* Ensures the element stays in the final state */
}

/* FOR HOME NAVBAR & HERO BACKGORUND */
/* Navbar */

.navbar {
  font-size: x-large;
  font-weight: 500;
  height: 150px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  background-color: transparent; /* Initially transparent */
}

.navbar.scrolled {
  background: linear-gradient(180deg, #87a59e, #bfddca);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)
}

.navbar .nav-links {
  list-style: none;
  display: flex;
}

.navbar .nav-links li {
  margin-left: 1rem;
}

.navbar .nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

/* Hero Section */
.main-header {
  background: url('assets/images/home_carousel_1.jpg') no-repeat center center/cover;
  height: 100vh;
}

.about-header {
  background: url('assets/images/about_us.png') no-repeat center center/cover;
  height: 100vh;

}

.contact-header {
  background: url('assets/images/contact.png') no-repeat center center/cover;
  height: 100vh;

}

.service-header {
  background: url('assets/images/services.png') no-repeat center center/cover;
  height: 100vh;

}

.hero {
  color: #fff;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.5rem;
}

.map-container{
  width: 80%; 
  height: 400px;
}

.map-iframe{
  width:700px;
  height:350px;
}

#whatsapp-button {
  display: inline-block;
  margin-top: 1rem; /* Add spacing for the button */
  position: fixed; 
  bottom: 20px; 
  right: 20px; 
  z-index: 1000;
}

/* Custom Media Queries */
@media (max-width: 991.98px) {
  .navbar {
    height: 150px; /* Allow flexible height on smaller screens */
  }

  .navbar-collapse {
    background-color: #87a59e; /* Add background for collapsed menu */
    padding: 1rem; /* Add padding inside the menu */
  }

  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }

  .nav-item {
    margin-bottom: 1rem; /* Space between items */
  }

  #whatsapp-button {
    display: inline-block;
    margin-top: 1rem; /* Add spacing for the button */
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    z-index: 1000;
  }
}

@media (max-width: 575.98px) {

  .navbar {
    height: 150px; /* Allow flexible height on smaller screens */
  }
  .nav-whatsapp-button{
    display: none;
  }

  .map-container{
    width: 100%;
    height: auto;
  }
  
  .navbar-brand img {
    max-height: 40px; /* Further reduce logo size for mobile */
  }

  #whatsapp-button {
    font-size: 12px; /* Smaller text for smaller screens */
    padding: 6px 10px;
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    z-index: 1000;
  }

  .nav-whatsapp-button{
    display: none;
  }
  
  .nav-container {
    display: inline!important;
  }
}

/* Adjustments for screens with a max width of 430px */

@media (max-width: 430px) {
  
  .feature-img {
    height: 150px;
    width: 150px;
  }

  .service-mobile {
    display: none;
  }

  .map-container{
    width: 375px;
    height: 300px;
  }

  .map-iframe{
    width: 100%;
    height: 300px;
  }

  .nav-whatsapp-button{
    display: none;
  }
  
  .nav-container {
    display: inline!important;
  }

  /* Navbar */
  .navbar {
    height: 100px;
    font-size: 0.9rem; /* Slightly smaller text size */
      /*padding: 0.5rem 1rem; /* Reduce padding */
  }

  .navbar .navbar.scrolled{
    height: 150px;
  }

  .navbar-brand img {
      max-height: 35px; /* Smaller logo */
  }

  .navbar-toggler {
      padding: 0.25rem 0.5rem; /* Adjust toggler button size */
  }

  .navbar-collapse {
      padding: 0.5rem; /* Reduce padding inside the dropdown */
  }

  .nav-item {
      margin-bottom: 0.75rem; /* Reduced spacing between nav items */
  }

  .nav-link {
      font-size: 0.85rem; /* Slightly smaller text size for links */
  }

  /* WhatsApp Button */
  #whatsapp-button {
    font-size: 12px; /* Smaller text */
    padding: 6px 12px; /* Reduce button padding */
    display: block; /* Ensure the button stays visible */
    width: 100%; /* Full-width button for better usability */
    margin: 0.5rem auto; /* Add margin for spacing */
    position: fixed; 
    bottom: 100px; 
    right: 50px; 
    z-index: 1000;
    text-align: right;
  }

  .main-carousel .carousel-inner .carousel-item > img{
    height: 300px;
    width: auto;
}

  /* Hero Section */
  .main-header {
      height: 300px; /* Allow hero section to adjust dynamically */
      /*padding: 2rem 0; /* Add padding for better layout */
  }

  .main-about {
    background-image: url('assets/images/main_about.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

  .hero h1 {
      font-size: 2rem; /* Reduce heading size */
  }

  .hero p {
      font-size: 1rem; /* Adjust paragraph text size */
  }
}

/* END FOR HOME NAVBAR & HERO BACKGORUND */




#vision_mission {
  /* margin-top: 80px; */
  /* margin-bottom: 80px; */
  background-color: #bfddca;
}

.vision-card,
.mission-card {
  margin: 60px;
  border-radius: 50px;
  border-width: 3px;
  height: 300px;
  background-color: #ffff;
}


/* ABOUT CAROUSEL GALLERY */
#gallery {
  /* background-color: #d1ebe5; */
  background-color: #bfddca;

}

.container .gallery-container {
  /* background-color: #fff; */
  color: #35373a;
  min-height: 100vh;
  /* padding: 30px 50px; */
}

.gallery-container h1 {
  text-align: center;
  margin-top: 50px;
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
}

.gallery-container p.page-description {
  text-align: center;
  /* margin: 25px auto; */
  font-size: 18px;
  color: #999;
}

.tz-gallery {
  padding: 40px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
  padding: 2px;
}

.tz-gallery .lightbox img {
  width: 100%;
  border-radius: 0;
  position: relative;
}

.tz-gallery .lightbox:hover {

}

.tz-gallery .lightbox:before {
  /* position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  opacity: 0;
  color: #fff;
  font-size: 26px;
  font-family: 'Glyphicons Halflings';
  content: '\e003';
  pointer-events: none;
  z-index: 9000;
  transition: 0.4s; */
}


.tz-gallery .lightbox:after {
  /* position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(46, 132, 206, 0.7);
  content: '';
  transition: 0.4s; */
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
  opacity: 1;
}

.baguetteBox-button {
  background-color: transparent !important;
}

/* @media(max-width: 768px) {
  body {
      padding: 0;
  }
} */

/* END FOR ABOUT CAROUSEL GALLERY */




.why-card-top {
  /* border-bottom: 3px; */
  --bs-card-border-radius:none!important;
  border:none;
  border-bottom-left-radius: 80px; 
  border-bottom-right-radius: 80px; 
  background-color: #bfddca;
  height: 200px;

}

.why-card-bottom {
  /* border-top: 3px; */
  --bs-card-border-radius:none!important;
  border: none;
  border-top-left-radius: 80px; 
  border-top-right-radius: 80px; 
  background-color: #bfddca;
  height: 200px;

}

.card-title-why {
  margin: 10px;
  padding-top: 10px;
}




/* FOR TEAM IMAGE GALLERY */

#team {
  height: 750px;
}
.container-team{
	margin: 4% auto;
	width: 350px;
	height: 350px;
	position: relative;
	perspective: 1000px;
}
#carousel_team{
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	animation: rotation 20s infinite linear;
}
#carousel_team:hover{
	animation-play-state: paused;
}
#carousel_team figure{
	display: block;
	position: absolute;
	width: auto;
	height: 100%;
	/* left: 10px; */
	/* top: 10px; */
	/* background: black; */
	overflow: hidden;
	/* border: solid 5px black; */
}

#carousel_team figure a > img{
  width: auto;
  height: 100%;
}

#carousel_team figure a > img:hover{
	border: solid 3px #bfddca;
}



#carousel_team figure:nth-child(1){transform: rotateY(0deg) translateZ(288px);}

#carousel_team figure:nth-child(2) { transform: rotateY(100deg) translateZ(288px);}
#carousel_team figure:nth-child(3) { transform: rotateY(220deg) translateZ(288px);}

/* #carousel_team figure:nth-child(4) { transform: rotateY(280deg) translateZ(288px);} */
#carousel_team figure:nth-child(4) { transform: rotateY(280deg) translateZ(288px);}

/* img{
	-webkit-filter: grayscale(1);
	cursor: pointer;
	transition: all .5s ease;
}
img:hover{
	-webkit-filter: grayscale(0);
  transform: scale(1.2,1.2);
} */

@keyframes rotation{
	from{
		transform: rotateY(0deg);
	}
	to{
		transform: rotateY(360deg);
	}
}

/* END FOR TEAM IMAGE GALLERY */




/* Service List */

#services
{
  /* background-color: #d1ebe5; */
  background-color: #ffff;
  text-align: center;
  /* #c1a694 !important; */
}

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

:root {
	--yellow: #ffdd40;
	--dark: #2f313a;
	--deg: -86deg;
	--trans: all 0.4s ease 0s;
}


.content {
	/* width: 90vmin; */
}

h2 {
	text-align: center;
}

.team {
	padding: 2em 0 2em 2.5em;
	margin: 0;
}

.member {
	margin: 1.5em 0 0.5em;
	padding: 0.73em;
	background: linear-gradient(
		83deg,
		#bfddca 0 97%,
		#fff0 calc(97% + 1px) 100%
	);
	position: relative;
	list-style: none;
	display: inline-block;
	transform: scale(0.85);
	transition: var(--trans);
}

.member:nth-of-type(even) {
	text-align: right;
	background: linear-gradient(
		-83deg,
		#bfddca 0 97%,
		#fff0 calc(97% + 1px) 100%
	);
}

.thumb {
	width: 200px;
	height: 200px;
	float: left;
	margin-right: 1.25em;
	background: linear-gradient(
		var(--deg),
		var(--dark) 0 70%,
		#2f5667 0% 100%
	);
	transform: rotate(-4deg);
	transition: var(--trans);
	border-radius: 0.25em;
	overflow: hidden;
	margin-left: -3em;
	padding: 0.5em;
}

.member:nth-of-type(even) .thumb {
	--deg: 86deg;
	float: right;
	margin-left: 2em;
	margin-right: -3em;
	transform: rotate(4deg);
}

.thumb img {
	width: 100%;
	height: 100%;
	border-radius: 0.25em;
	filter: grayscale(1);
	background: var(--dark);
}

.member:hover {
	transform: scale(1);
	transition: var(--trans);
	filter: drop-shadow(0px 20px 10px #0008);
}

.member:hover .thumb {
	padding: 0.1em;
	transition: var(--trans);
	transform: rotate(-1deg);
	--deg: -89deg;
}

.member:nth-of-type(even):hover .thumb {
	--deg: 91deg;
}

.member:hover .thumb img {
	filter: none;
	transition: var(--trans);
}

.description {
	padding-top: 1vmin;
  font-size: 22px;
  margin:50px;
}

.description p {
	padding: 0 2em;
	margin-bottom: 1em;
  font-size: 22px;
  margin:50px;
}

#services h3 {
	background: linear-gradient(182deg, #2f5667 60%, var(--dark) 0 100%);
	display: inline;
	transform: rotate(-2deg);
	position: absolute;
	margin: 0;
	margin-top: -2.25em;
	left: 9vmin;
	padding: 0.5em 0.75em;
	color: #ffff; /*var(--yellow);*/
	border-radius: 0.25em;
	font-size: 1.35em;
	transform-origin: left bottom;
}

.member:nth-of-type(even) h3 {
	left: inherit;
	right: 9vmin;
	transform: rotate(2deg);
	transform-origin: right bottom;
	background: linear-gradient(-182deg, #fff0 60%, var(--dark) 0 100%);
}

.member:hover h3 {
	transition: var(--trans);
	transform: rotate(0deg);
	background: linear-gradient(180deg, #fff0 59%, var(--dark) 0 100%);
}

/* .co-funder:after {
	content: "CO-FUNDER";
	font-size: 0.75em;
	position: absolute;
	top: -1.5em;
	background: var(--yellow);
	right: 4em;
	transform: rotate(3deg);
	padding: 0.35em 0.75em 0.5em;
	border-radius: 0.25em;
	color: var(--dark);
	font-weight: bold;
}

.co-funder:nth-of-type(even):after {
	right: inherit;
	left: 4em;
	transform: rotate(-3deg);
} */

.description p a {
	display: inline-block;
	margin: 0.5em 0 0 0;
	background: var(--dark);
	color: #ffff; /*var(--yellow);*/
	padding: 0.1em 0.5em 0.35em;
	border-radius: 0.5em;
	text-decoration: none;
	transition: var(--trans);
}
.description p a:hover {
	transition: var(--trans);
	color: var(--dark);
	background: var(--yellow);
	font-weight: bold;
}

.description p a img {
	float: left;
	width: 22px;
	filter: invert(1);
	border-radius: 0.15em;
	padding: 2px;
	background: #fff;
	margin-right: 2px;
}

/* End For Service List */

.happ3f-card,
.contact-contact-card {
  border: none;
}


